body {
  margin: 0;
  padding: 16px;
  font-family: sans-serif;
}


.fb-container-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
}

.separador {
  height: 10px;
}

.fb-navbar {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 2px;
}

.fb-container-columns {
  display: flex;
  flex-direction: column;
}
.fb-item {
  padding: 10px;
  margin: 2px;
}

.fb-nav-left {
   
   flex-basis: 100%;
}

.fb-nav-right {
   
   flex-basis: 0%;
}

#main {
  
  
  height: 500px;   
  overflow-y : scroll;
}

.big {
  font-size: 180%;
  color: white;
  
}

.red-down{
  background-color: #ffe6e6;
  color: #ff0000;
}

.red-down:hover{
  background-color: #ffcccc !important;
}

.green-up{
 background-color: #c6ffb3;
 color: #004d00;
}
.green-up:hover{
 background-color: #9fff80 !important;
}
.blue-pause{
 background-color: #b3d9ff;
 color: #000d1A;
}
.blue-pause:hover{
 background-color: #80bfff !important;
}

.achicar{
  font-size: 70%
}

.left-panel {
  
  width: 335px;
  height: auto;
  background-color: white;
  position: fixed;
  top: 5px;
  right: -340px;
  z-index: 100;
  -webkit-transition: all 1.1s ease-in-out;
  
}



.show-panel{
  right: 4px !important;
  
}

.my-text-area{
    width: 300px;
    height: 10px;
}
.react-datepicker__time-list-item{
  width: 52px;
}

.react-datepicker-popper{
    width: 315px;
}


